.custom-padding
{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.btn-submit
{
    margin: 0 auto;
}

.btn-custom
{
    padding-top: 2%;
    padding-bottom: 5%;
}
body
{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

ul
{
    list-style-type: none;
    list-style-position: inside;
}
.no-padding
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.custom_string_field
{
    border: 0; /*
    outline: 0;
    background: transparent;
    background-color: #DCDCDC;
    -moz-border-radius:10px; /* Firefox */
    /*
    -webkit-border-radius: 10px; /* Safari, Chrome */
    /*-khtml-border-radius: 10px; /* KHTML */
    /*border-radius: 10px; /* CSS3 */
    border-bottom: 1px solid black;
}
.left
{
    float: left;
}

.right
{
    float: right;
}

.settings
{
    margin: 5% 35% 10% 35%;
}

.list-group-item
{
    padding-top: 4%;
    padding-bottom: 4%;
}

.heading
{
    text-align: center;
    padding-top: 10%
    padding-bottom: 2%;
}

#password-error, #username-error
{
    visibility: hidden;
    color: red;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px)
{
    .settings
    {
        margin: 5% 30% 10% 30%;
    }

}
@media only screen and (min-width: 990px) and (max-width: 1200px)
{
    .settings
    {
        margin: 5% 25% 10% 25%;
    }

}
@media only screen and (min-width: 800px) and (max-width: 990px)
{
    .settings
    {
        margin: 5% 20% 10% 20%;
    }

}
@media only screen and (min-width: 300px) and (max-width: 800px)
{
    .settings
    {
        margin: 5% 2% 10% 2%;
    }

}
.add-shadow
{
    -moz-box-shadow: 0px 0px 15px 10px #404040;
    -webkit-box-shadow: 0px 0px 15px 10px #404040;
    box-shadow: 0px 0px 15px 10px #404040;
}
.footer1
{
    position: fixed;
    bottom: 0px;
    min-height: 60px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.footer2
{
    position: relative;
    bottom: 0px;
    min-height: 60px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    padding-top: 1%;
    text-align: center;
}
#transportation_fee_error, #travel_distance_error, #value_error, #amount_error, #inventory_number_error
{
    visibility: hidden;
    color: red;
}

.image-status
{
    width: 20px;
}
.login-icons
{
    padding-bottom: 30px;
    padding-left: 15px;
}
.register-icons
{
    padding-bottom: 8px;
    padding-left: 17px;
}

.div-forms
{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}
.custom-forms
{
    width: 100%;
    margin; 5px;
}
.button-link
{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #0D6DFB;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 5px;

}
.align-table
{
    vertical-align: middle;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.overflow
{
   overflow-x: auto;
}
 @media only screen and (max-device-width: 610px) {
       /* styles for browsers smaller than 610px - some mobile browsers*/
       .div-forms
       {
        display: block;

       }
       .custom-forms
       {
         text-align: center;
         padding-bottom: 2%;
       }
       .btn#generate_qrs, .btn#print_inventory, .btn#start_check, .btn#finish_check, .btn#submit
       {
        width: 400px;
       }
    }