.custom-padding
{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.btn-submit
{
    margin: 0 auto;
}

.btn-custom
{
    padding-bottom: 5%;
}
body
{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

ul
{
    list-style-type: none;
    list-style-position: inside;
}
.no-padding
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.custom_string_field
{
    border: 0; /*
    outline: 0;
    background: transparent;
    background-color: #DCDCDC;
    -moz-border-radius:10px; /* Firefox */
    /*
    -webkit-border-radius: 10px; /* Safari, Chrome */
    /*-khtml-border-radius: 10px; /* KHTML */
    /*border-radius: 10px; /* CSS3 */
    border-bottom: 1px solid black;
}
.left
{
    float: left;
}

.right
{
    float: right;
}

.settings
{
    margin: 5% 35% 10% 35%;
}

.list-group-item
{
    padding-top: 4%;
    padding-bottom: 4%;
}

.heading
{
    text-align: center;
    padding-top: 10%
    padding-bottom: 2%;
}

.table{
    -moz-box-shadow: 0px 0px 15px 5px #404040;
    -webkit-box-shadow: 0px 0px 15px 5px #404040;
    box-shadow: 0px 0px 15px 5px #404040;
}

#password-error, #username-error
{
    visibility: hidden;
    color: red;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px)
{
    .settings
    {
        margin: 5% 30% 10% 30%;
    }

}
@media only screen and (min-width: 990px) and (max-width: 1200px)
{
    .settings
    {
        margin: 5% 25% 10% 25%;
    }

}
@media only screen and (min-width: 800px) and (max-width: 990px)
{
    .settings
    {
        margin: 5% 20% 10% 20%;
    }

}
@media only screen and (min-width: 300px) and (max-width: 800px)
{
    .settings
    {
        margin: 5% 2% 10% 2%;
    }

}
.add-shadow
{
    -moz-box-shadow: 0px 0px 15px 10px #404040;
    -webkit-box-shadow: 0px 0px 15px 10px #404040;
    box-shadow: 0px 0px 15px 10px #404040;
}
.footer1
{
    position: fixed;
    bottom: 0px;
    min-height: 60px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    padding-top: 1%;
    text-align: center;
}
.footer2
{
    position: relative;
    bottom: 0px;
    min-height: 60px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    padding-top: 1%;
    text-align: center;
}
#transportation_fee_error, #travel_distance_error
{
    visibility: hidden;
    color: red;
}
