.custom-padding
{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.btn-submit
{
    margin: 0 auto;
}

.btn-custom
{
    padding-bottom: 5%;
}
body
{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

ul
{
    list-style-type: none;
    list-style-position: inside;
}
.no-padding
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.custom_string_field
{
    border: 0;
    outline: 0;
    background: transparent;
    background-color: #DCDCDC;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    border-bottom: 1px solid black;
}
.left
{
    float: left;
}

.right
{
    float: right;
}

.settings
{
    margin: 10% 40% 10% 40%;
}

.list-group-item
{
    padding-top: 4%;
    padding-bottom: 4%;
}