{% extends "base.html" %}
{% block title %}Postavke{% endblock %}
{% include 'header.html' %}
{% block content %}
<div class="settings">
    <h1 class="text-center text-light" style="padding-bottom: 5%;"> Dodavanje inventara</h1>
    <div class="col-lg-12 col-xl-12">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if status == success %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                     {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    <form id="inventory" action="{{url_for('add_inventory')}}" method="POST" class="add-shadow" style="border-radius:10px;">
        <ul class="list-group list-group-flush" style="border-radius: 10px;">
            <li class="list-group-item">
                <span class="left">Inventarni broj</span> <span class="right">{{form.inventory_number(class="custom_string_field text-center", pattern='.{1,10}', placeholder="108",title='Inventarni broj mora sadržavati između 1 i 10 znakova.', required="True")}}</span>

            </li>
            <li class="list-group-item">
                <span class="left">Naziv</span> <span class="right">{{form.name(size = 35, pattern=".{3,50}", title="Naziv mora biti između 3 i 50 znakova.", class="custom_string_field text-center", placeholder="Kutija šibica", required="True")}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Lokacija</span> <span class="right">{{form.location(size = 35, class="custom_string_field text-center", placeholder="Tajništvo", required="True", pattern='.{3,50}', title='Lokacija mora sadržavati između 3 i 50 znakova.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Jedinica mjere</span> <span class="right">{{form.unit(size=20, class="custom_string_field text-center", placeholder="komad", required="True")}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Količina</span> <span class="right">{{form.amount(size=20, class="custom_string_field text-center", pattern="[0-9]{1,10})?" ,step="0.01", title="Unesite cijeli broj", placeholder="5", required="True")}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Procijenjena vrijednost</span> <span class="right">{{form.value(class="custom_string_field text-center", pattern="[0-9]+([\.,][0-9]+)?" ,step="0.01", title='Unesite broj s najviše dvije decimale.', placeholder="100EUR", required="True")}}</span>
            </li>

            <div class="btn-custom justify-content-center align-content-center text-center" style="margin-top: 5%;">
                {{form.submit(class='btn btn-primary btn-large col-3 text-light')}}
            </div>
        </ul>

    </form>
</div>
{% endblock %}
{% block footer %}
<footer class="footer2">
@Copyright Ivan Martinović 2023.
</footer>
{% endblock %}