{% extends "base.html" %}
{% block title %}Postavke{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="settings">
    <h1 class="text-center text-light" style="padding-bottom: 5%;"> Vaše postavke</h1>
    <form onsubmit="return isNumber()" action="{{url_for('postavke')}}" method="POST" class="add-shadow" style="border-radius:10px;">
        <ul class="list-group list-group-flush" style="border-radius: 10px;">
            <li class="list-group-item">
                <span class="left">Ime</span> <span
                    class="right">{{form.name(class="custom_string_field text-center", placeholder="Ivan", pattern="[^(0-9)]{2,40}", title='Ime mora sadržavati najmanje 2 znaka, bez brojeva.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Prezime</span> <span class="right">{{form.surname(class="custom_string_field text-center", placeholder="Horvat", pattern="[^(0-9)]{2,50}", title='Prezime mora sadržavati najmanje 2 znaka bez brojeva.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Adresa rada</span> <span class="right">{{form.work_address(size=30, class="custom_string_field text-center", placeholder="I.G.Kovačića 16, 20000, grad", pattern=".{10,100}", title='Adresa mora sadržavati najmanje 10 znakova.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Adresa stanovanja</span> <span class="right">{{form.home_address(size=30, class="custom_string_field text-center", placeholder="I.G.Kovačića 16, 20000, grad", pattern=".{10,100}", title='Adresa mora sadržavati najmanje 10 znakova.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Udaljenost do radnog mjesta</span> <span class="right">{{form.travel_distance(class="custom_string_field text-center", placeholder="100", pattern="[0-9]+([\.][0-9]+)?" ,step="0.01", title='Unesite broj s najviše dvije decimale.')}}</span>
            </li>
            <li class="list-group-item">
                <span class="left">Iznos naknade po km</span> <span class="right">{{form.transportation_fee(size=30, class="custom_string_field text-center", placeholder="0.3", pattern="[0-9]+([\.][0-9]+)?" ,step="0.01", title='Unesite broj s najviše dvije decimale.')}}</span>
            </li>
            <div class="btn-custom justify-content-center align-content-center text-center" style="margin-top: 5%;">
                {{form.submit(class='btn btn-primary btn-large col-3 text-light')}}
            </div>
        </ul>

    </form>
</div>
{% endblock %}
{% block footer %}
<footer class="footer2">
@Copyright Ivan Martinović 2023.
</footer>
{% endblock %}