{% extends "base.html" %}
{% block title %}Politika privatnosti{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <div class="container-fluid text-light custom-padding">
        <h1 class="text-center">Politika privatnosti</h1>
        <p>
            Hvala vam na posjeti našoj web stranici.
            Vaša privatnost nam je važna, a ova politika privatnosti
            opisuje kako prikupljamo, obrađujemo i štitimo vaše osobne podatke.
        </p>

        <h2>1. Prikupljanje i obrada osobnih podataka</h2>
        <p>
            <h3>1.1. <em>Session</em> kolačići</h3> <br>
            Kada posjetite našu web stranicu, postavljamo
            tzv. session kolačić za prijavu korisnika kako
            bismo omogućili pristup vašem računu i njegovo korištenje.
            Session kolačići ne ostaju na vašem uređaju nakon
            zatvaranja preglednika i ne prikupljaju vaše osobne podatke.
        </p>
        <p>
            <h3>1.2. Ostali osobni podaci</h3> <br>
            Nakon registracije, Korisnik može u postavkama
            unijeti osobne podatke kao što su ime i prezime, adresa stanovanja
            i adresa rada te poštanski broj, a koji se pohranjuju te koriste
            isključivo za poboljšanje kvalitete usluga. Navedene podatke
            Korisnik može u svakome trenutku promijeniti ili zatražiti njihovo
            brisanje.
        </p>
        <h2>2. Korištenje i otkrivanje osobnih podataka</h2>
        <p>
            Vaši osobni podaci bit će korišteni samo za svrhe prijavljivanja
            na vaš račun i korištenje naše web stranice.
            Ne dijelimo vaše osobne podatke s trećim stranama.
        </p>
        <h2>3.Sigurnost podataka</h2>
        <p>
            Vaši osobni podaci su sigurni i štitimo ih od neovlaštenog
            pristupa, upotrebe ili otkrivanja. Primjenjujemo
            razumne mjere kako bismo zaštitili vaše osobne podatke.
        </p>
        <h2>4. Vaša prava</h2>
        <p>
            Imate pravo pristupa i ispravka svojih osobnih podataka
            koji se obrađuju putem naše web stranice.
        </p>
        <h2>5. Promjene politike privatnosti</h2>
        <p>
            Ova politika privatnosti može se povremeno mijenjati i
            ažurirati. Svaka izmjena stupit će na snagu odmah nakon
            objave nove verzije ove politike privatnosti na našoj
            web stranici.
        </p>
        <h2>6. Kontaktirajte nas</h2>
        <p>
            Ako imate bilo kakvih pitanja ili komentara u vezi s
            ovom politikom privatnosti ili našim postupanjem s
            vašim osobnim podacima, možete nas kontaktirati putem
            adrese elektroničke pošte navedene na našoj web stranici.
        </p>
    </div>
{% endblock %}
{% block footer %}
<footer class="footer1">
@Copyright Ivan Martinović 2023.
    <div class="container text-center">
        <a href="{{url_for('privacy_policy')}}" class="link-primary">Pravila privatnosti</a>
        <a href="{{url_for('terms_and_conditions')}}" class="link-primary">Uvjeti korištenja</a>
    </div>
</footer>
{% endblock %}