{% extends "bootstrap/base.html" %}
{% block title %}Prijevoz{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Datum</th>
        <th scope="col">Broj prijeđenih kilometara pri dolasku</th>
        <th scope="col">Broj prijeđenih kilometara pri odlasku</th>
        <th scope="col">Prijevozno sredstvo</th>
        <th scope="col">Potpis</th>
      </tr>
      </thead>
      <tbody>
      {% for form in forms %}
      <tr>
      <td>{{form[1]}}</td>
      <td>{{form[0].km_arrival}}</td>
      <td>{{form[0].km_return}}</td>
        <td>{{form[0].vehicle}}</td>
      <td>{{form[0].signature}}</td>
      <tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}