{% extends "base.html" %}
{% block title %}Registracija{% endblock %}
{% block content %}
<script type="text/javascript">
function validate()
{
    var password = document.getElementById('password').value;
    var confirm_password = document.getElementById('confirm_password').value;
    var password_error = document.getElementById("password-error");
    if (password != confirm_password)
    {
        password_error.style.visibility = "visible";
        password_error.innerHTML = "Lozinke se ne podudaraju!";
        return false;
    }
    else
    {
        password_error.style.visibility = "visible";
        return true;
    }
}
</script>
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black add-shadow" style="border-radius: 25px; border: 0;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                     {% endfor %}
                {% endif %}
            {% endwith %}
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registracija</p>
                                <form action="{{ url_for('register')}}" class="mx-1 mx-md-4" method="post">
                                {{ form.csrf_token }}
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="register-icons fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <span id="username-error">1</span>
                                            {{form.username(class="form-control", pattern=".{8,30}", title="Korisničko ime mora sadržavati 8-30 znakova.", required="True")}}
                                            <label class="form-label">Korisničko ime</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="login-icons fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{form.organisation(class="form-control", required="True")}}
                                            <label class="form-label">Organizacija</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="login-icons fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <span id="password-error"></span>
                                            {{form.password(class="form-control", pattern="(?=.*\d)(?=.*[a-z,č,š,ć,đ,ž])(?=.*[A-Z,Č,Ć,Š,Đ,Ž])(?=.*[!@#$%^&*()_+{}|:+]).{8,30}", title="8-30 znakova s malim i velikim slovima,brojevima i znakovima !@#$%^&*()_+{}|:", required="True")}}
                                            <label class="form-label">Lozinka</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="login-icons fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{form.confirm_password(class="form-control", pattern="(?=.*\d)(?=.*[a-z,č,š,ć,đ,ž])(?=.*[A-Z,Č,Ć,Š,Đ,Ž]).{8,30}", title="Lozinka mora sadržavati 8-30 znakova uključujući mala i velika slova i brojeve.", required="True")}}
                                            <label class="form-label">Ponovi lozinku</label>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" id="form2Example3c" type="checkbox"
                                               value=""/>
                                        <label class="form-check-label">
                                            Prihvaćam <a href="#!">Uvjete korištenja</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input class="btn btn-primary btn-lg" type="submit" onclick="return validate()"></input>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img alt="Logo"
                                     class="img-fluid" src="{{logo_path}}"
                                     style="width: 80%; padding-left: 15%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}