{% extends "base.html" %}
{% block title %}Registracija{% endblock %}
<header>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</header>
{% block content %}
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        var username = document.getElementById("username").value;
        var username_error = document.getElementById("username-error")
        var password_error = document.getElementById("password-error")
        var password_character_set =  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/;
        if(username.length < 8)
        {
            username_error.style.visibility = "visible";
            username_error.innerHTML = "Korisničko ime mora imati najmanje 8 znakova.";
            return false;
        }
        else if (!password.match(password_character_set))
        {
            password_error.style.visibility = "visible";
            password_error.innerHTML = "Lozinka mora sadržavati između 8 i 30 znakova uključujući brojeve te velika i mala slova.";
            return false;
        }
        else if (password != confirmPassword) {
            password_error.style.visibility = "visible";
            password_error.innerHTML = "Lozinke se ne podudaraju!";
            return false;
        }
        else
        {
            return true;
        }
    }
</script>
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                     {% endfor %}
                {% endif %}
            {% endwith %}
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registracija</p>

                                <form action="{{ url_for('register') }}" class="mx-1 mx-md-4" method="post" novalidate>
                                {{ form.csrf_token }}
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <span id="username-error">1</span>
                                            {{form.username(class="form-control")}}
                                            <label class="form-label">Korisničko ime</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{form.organisation(class="form-control")}}
                                            <label class="form-label">Organizacija</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <span id="password-error">1</span>
                                            {{form.password(class="form-control")}}
                                            <label class="form-label">Lozinka</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{form.confirm_password(class="form-control")}}
                                            <label class="form-label">Ponovi lozinku</label>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" id="form2Example3c" type="checkbox"
                                               value=""/>
                                        <label class="form-check-label">
                                            Prihvaćam <a href="#!">Uvjete korištenja</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input class="btn btn-primary btn-lg" type="submit" onclick="return Validate()"></input>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img alt="Logo"
                                     class="img-fluid" src="{{url_for('static', filename='images/logo2.png')}}"
                                     style="width: 80%; padding-left: 15%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}