{% extends "base.html" %}
{% block title %}Pregled usluga{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="d-flex justify-content-center container-fluid">
    <a class="btn btn-lg btn-primary btn-block" href="{{url_for('travel_expense')}}" role="button"
       style="min-width: 300px; margin-top: 4%; margin-bottom: 2%;">Prijevoz</a>
</div>
<div class="d-flex justify-content-center container-fluid">
    <a class="btn btn-lg btn-primary btn-block" href="{{url_for('honorarium')}}" role="button"
       style="min-width: 300px; margin-top: 2%; margin-bottom: 2%;">Honorari</a>
</div>
<div class="d-flex justify-content-center container-fluid">
    <a class="btn btn-lg btn-primary btn-block" href="{{url_for('view_inventory')}}" role="button"
       style="min-width: 300px; margin-top: 2%; margin-bottom: 2%;">Pregled inventara</a>
</div>
<div class="d-flex justify-content-center container-fluid">
    <a class="btn btn-lg btn-primary btn-block" href="{{url_for('add_inventory')}}" role="button"
       style="min-width: 300px; margin-top: 2%; margin-bottom: 2%;">Dodaj inventar</a>
</div>
<div class="d-flex justify-content-center container-fluid">
    <a class="btn btn-lg btn-primary btn-block" href="{{url_for('settings')}}" role="button"
       style="min-width: 300px; margin-top: 2%; margin-bottom: 2%;">Postavke</a>
</div>
{% endblock %}
{% block footer %}
<footer class="footer1">
    @Copyright Ivan Martinović 2023.
</footer>
{% endblock %}