{% extends "base.html" %}
{% block title %}Pregled inventara{% endblock %}
{% block content %}
{% include 'header.html' %}

<h1 class="text-center text-light" style="margin-top: 3%; margin-bottom: 3%;">
    Pregled inventara - {{organisation}}
</h1>
<div class="text-center div-forms">
{{form.csrf_token}}
    <form class="custom-forms" action="{{url_for('generate_qr_codes')}}">
        {{form.generate_qrs(class='btn btn-lg btn-primary')}}
    </form>
    <form class="custom-forms" action="{{url_for('print_inventory')}}">
        {{form.print_inventory(class='btn btn-lg btn-primary')}}
    </form>
    <form class="custom-forms" onsubmit="return confirm('Jeste li sigurni da želite nastaviti?')"  action="{{url_for('inventory_check_status')}}">
        {% if status == False %}
            {{form.start_check(class='btn btn-lg btn-primary')}}
        {% else %}
            {{form.end_check(class='btn btn-lg btn-primary')}}
        {% endif %}
    </form>

</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for i in range (0, locations|length) %}
    {% if i != 0 %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id={{locations[i]|replace('','-')+'-tab'}} data-bs-toggle="tab" data-bs-target={{"#"+locations[i]|replace(' ','-')+'-pane'}} type="button"
        role="tab" aria-controls={{locations[i]|replace(' ','-')+'-tab-pane'}} aria-selected="true">
        {{locations[i]}}</button>
    </li>
    {% else %}
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id={{locations[i]|replace('','-')+'-tab'}} data-bs-toggle="tab" data-bs-target={{"#"+locations[i]|replace(' ','-')+'-pane'}} type="button"
        role="tab" aria-controls={{locations[i]|replace(' ','-')+'-tab-pane'}} aria-selected="true">
        {{locations[i]}}</button>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for i in range(0, locations|length) %}
    {% if i != 0 %}
    <div aria-labelledby={{locations[i]|replace('','-')+"-tab"}} class="tab-pane fade text-light" id={{locations[i]|replace(' ','-')+"-pane"}} role="tabpanel"
    tabindex="0">
    {% else %}
    <div aria-labelledby={{locations[i]|replace('','-')+"-tab"}} class="tab-pane fade active show text-light" id={{locations[i]|replace(' ','-')+"-pane"}}
    role="tabpanel" tabindex="0">
    {% endif %}
    <table class="table text-light align-table">
        <thead>
        <tr>
            <th scope="col">Inventarni broj</th>
            <th scope="col" style="vertical-align:middle;">Naziv</th>
            <th scope="col">Jedinica mjere</th>
            <th scope="col" style="vertical-align:middle;">Količina</th>
            <th scope="col">Vrijednost [EUR]</th>
                {% if status == True %}
            <th scope="col"> Status</th>
            {% else %}
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in data[i] %}
        <tr>
            <td> {{item.inventory_number}}</td>
            <td> {{item.name}}</td>
            <td> {{item.unit}}</td>
            <td> {{item.amount}}</td>
            <td> {{item.value}}</td>
            {% if status == True %}
                {% if item.item_status == True %}
                    <td>
                        <img class="image-status" src="{{url_for('static',filename='images/found.PNG')}}" alt="">
                    </td>
                {% else %}
                    <td>
                        <img class="image-status" src="{{url_for('static',filename='images/missing.PNG')}}" alt="">
                    </td>
                {% endif %}
            {% else %}
                <td>
                    <button type="submit" class="button-link" onclick="window.location.href='{{url_for('remove_inventory', id=item.inventory_number)}}'">Ukloni</button>
                    <button type="submit" class="button-link" onclick="window.location.href='{{url_for('update_inventory', id=item.inventory_number)}}'">Izmijeni</button>

                </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}